modules = ["nodejs-20", "bash"] # حذفنا موديول web لتقليل التعارض

run = "pnpm start" # هذا السطر سيقوم بتشغيل Expo مباشرة

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[nix]
packages = ["zip", "nano", "openssl"]
channel = "stable-25_05"
